#Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 1.5rem;
}

#Home>* {
  margin: 20px;
}

#link-home-shop {
  background-color: white;
  color: var(--main-color);
  text-decoration: underline;
}

#link-home-shop:hover {
  text-shadow: 0 0 3px var(--main-color);
}

/* svg style and animation */
#svg-cart {
  width: 600px;
  height: 600px;
}

.st4,.st5{fill:none;stroke:#fff;stroke-width:.75;stroke-miterlimit:10}
.st5{stroke-width:.25}

#clouds {
  animation-name: fly;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes fly{
  0% {transform: translateY(-10px)}
  20% {transform: translateY(2px)}
  50% {transform: translateY(0px)}
  90% {transform: translateY(0px)}
  100% {transform: translateY(-10px)}
}

#cart {
  animation-name: moveForward;
  animation-duration: 2s;
  animation-delay: 0s;
}

@keyframes moveForward{
  0% {transform: translateX(-10px)}
  100% {transform: translateX(0px)}
}


@media only screen and (max-width: 1000px) {
  #svg-cart {
    width:400px;
    height: 400px;
  }
}